* {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 102.5%;
  font-weight: normal;
  color: #B9E5EF;
  letter-spacing: 1px;
  word-spacing: 2px; }

h1 {
  font-size: 4rem;
  color: #B9E5EF;
  margin: 0.5rem;
  padding: 1rem 0; }

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #e9e9e9;
  margin: 1rem; }

h3 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #B9E5EF; }

h4 {
  font-size: 0.8rem;
  font-style: italic; }

p {
  color: #fed8d3;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.3; }

a {
  color: #fed8d3;
  font-size: 1rem;
  text-decoration: none; }
  a:hover {
    color: #ffe2e2;
    border: none; }
  a:active {
    color: white; }

ul {
  font-size: 1rem;
  padding: 0.2rem 0.5rem; }
  ul li {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.2;
    list-style: none;
    padding: 0.1rem 0.2rem; }

.container, header .header, .main_index {
  margin: auto;
  max-width: 1020px; }

* {
  margin: 0;
  padding: 0.1rem;
  box-sizing: border-box; }

img {
  display: block;
  width: 100%; }

body {
  background: #020202; }
  body span {
    color: white;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: lighter; }

header {
  background: #010101;
  margin: auto; }
  header .header {
    display: flex;
    justify-content: space-around;
    align-items: center; }

.main_index {
  padding: 0.5rem 1rem; }
  .main_index a {
    border-bottom: ridge 3px #d16c61; }
  .main_index .main_index_section-1 {
    padding: 2rem 1rem;
    margin-bottom: 1rem; }
    .main_index .main_index_section-1 .main_index_section-1_title h1 {
      border-left: solid 1px white;
      padding-left: 1rem; }
    .main_index .main_index_section-1 .main_index_section-1_info .main_index_section-1_info-text {
      margin-left: 2rem; }
      .main_index .main_index_section-1 .main_index_section-1_info .main_index_section-1_info-text .main_index_section-1_info-text_link {
        margin: 1rem 0; }
        .main_index .main_index_section-1 .main_index_section-1_info .main_index_section-1_info-text .main_index_section-1_info-text_link a {
          border-right: inset 3px #d16c61;
          border-bottom-right-radius: 0.5rem;
          padding: 3px 5px; }
    .main_index .main_index_section-1 .main_index_section-1_info .main_index_section-1_info-img img {
      border-radius: 0.5rem; }
  .main_index .main_index_section-2 {
    margin: 3rem 0;
    border-top: dotted 1px white;
    padding: 1rem; }
    .main_index .main_index_section-2 p {
      padding: 0 1rem; }
    .main_index .main_index_section-2_part1, .main_index .main_index_section-2_part2 {
      margin-bottom: 1.5rem;
      max-width: 430px; }
      .main_index .main_index_section-2_part1 .main_index_section-2_title, .main_index .main_index_section-2_part2 .main_index_section-2_title {
        margin: 0 2rem; }
        .main_index .main_index_section-2_part1 .main_index_section-2_title h2, .main_index .main_index_section-2_part2 .main_index_section-2_title h2 {
          width: fit-content;
          margin: 5px;
          padding: 0.5rem; }
  .main_index .main_index_section-3 {
    border-top: 8px inset black;
    margin: 2rem 0; }
    .main_index .main_index_section-3 .main_index_section-3_title1 span {
      font-size: 1.7rem;
      padding-left: 15%; }
    .main_index .main_index_section-3 .main_index_section-3_img {
      padding: 0 1rem;
      border-bottom: 8px dotted black; }
      .main_index .main_index_section-3 .main_index_section-3_img img {
        border-radius: 0.5rem; }
    .main_index .main_index_section-3 .main_index_section-3_title2 {
      margin: 0.5rem; }
      .main_index .main_index_section-3 .main_index_section-3_title2 h2 {
        text-decoration: underline;
        text-decoration-color: white;
        inline-size: 4px;
        line-height: 40px; }
    .main_index .main_index_section-3 .main_index_section-3_txt {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      .main_index .main_index_section-3 .main_index_section-3_txt .main_index_section-3_txt-item {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
        min-width: 260px;
        max-width: 330px;
        border-right: 1px dotted;
        border-bottom: 1px dotted;
        border-color: ivory; }
        .main_index .main_index_section-3 .main_index_section-3_txt .main_index_section-3_txt-item p {
          width: 160px; }
  .main_index .main_index_section-4 {
    border-top: double black 8px;
    padding-top: 1rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    align-content: center; }
    .main_index .main_index_section-4 .main_index_section-4_item {
      text-align: center; }

footer .footer_social {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
  font-size: 1.5rem; }
  footer .footer_social a {
    padding: 1rem;
    border: none; }

footer .footer_copyright {
  text-align: center; }
  footer .footer_copyright h3 {
    font-size: 0.5rem; }

@media (min-width: 700px) {
  * {
    font-size: 105%; }
  .main_index_section-1 {
    margin-bottom: 3rem; }
    .main_index_section-1 .main_index_section-1_title {
      margin-left: 15%; }
      .main_index_section-1 .main_index_section-1_title br {
        display: none; }
    .main_index_section-1 .main_index_section-1_info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .main_index_section-1 .main_index_section-1_info .main_index_section-1_info-img img {
        border-radius: 0.5rem; }
  .main_index_section-2 {
    padding: 2rem; }
    .main_index_section-2 p {
      padding: 0 2rem; }
    .main_index_section-2_part1 {
      margin-left: 15%; }
    .main_index_section-2_part2 {
      margin-left: 30%; }
    .main_index_section-2_txt {
      border-left: white 1px solid; }
  .main_index_section-3 {
    margin-top: 2rem; }
    .main_index_section-3 .main_index_section-3_title1 {
      padding-left: 20%; }
      .main_index_section-3 .main_index_section-3_title1 span {
        font-size: 1.7rem;
        padding-left: 25%; }
    .main_index_section-3 .main_index_section-3_title2 {
      margin: 1rem; }
      .main_index_section-3 .main_index_section-3_title2 h2 {
        padding-left: 20%; }
    .main_index_section-3 .main_index_section-3_txt .main_index_section-3_txt-item {
      width: 280px; }
      .main_index_section-3 .main_index_section-3_txt .main_index_section-3_txt-item p {
        width: 180px; } }

@media (min-width: 1200px) {
  * {
    font-size: 112.5%; }
  .main_index_section-2_part2 {
    margin-left: 45%; }
  .main_index_section-3 .main_index_section-3_txt .main_index_section-3_txt-item {
    margin: 4rem;
    width: 320px; }
    .main_index_section-3 .main_index_section-3_txt .main_index_section-3_txt-item p {
      width: 220px; } }
